lib/upvs/cfg/eks/EKSService_0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:i0="http://schemas.gov.sk/edesk/eksService/1" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="CustomBinding_IEKSService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <!-- See https://platforma.slovensko.digital/t/upvs-eforms-received-timestamp-does-not-match-the-requirements-includetimestamp/3423 -->
        <!--<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
          <!--<wsp:Policy>-->
            <!--<sp:TransportToken>-->
              <!--<wsp:Policy>-->
                <!--<sp:HttpsToken>-->
                  <!--<wsp:Policy />-->
                <!--</sp:HttpsToken>-->
              <!--</wsp:Policy>-->
            <!--</sp:TransportToken>-->
            <!--<sp:AlgorithmSuite>-->
              <!--<wsp:Policy>-->
                <!--<sp:Basic256 />-->
              <!--</wsp:Policy>-->
            <!--</sp:AlgorithmSuite>-->
            <!--<sp:Layout>-->
              <!--<wsp:Policy>-->
                <!--<sp:Strict />-->
              <!--</wsp:Policy>-->
            <!--</sp:Layout>-->
            <!--<sp:IncludeTimestamp />-->
          <!--</wsp:Policy>-->
        <!--</sp:TransportBinding>-->
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                <Address xmlns="http://www.w3.org/2005/08/addressing">https://a1-dnv.upvsp-vyvoj.local:8081/sts/wss11x509</Address>
              </Issuer>
              <sp:RequestSecurityTokenTemplate>
                <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0</trust:TokenType>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference/>
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy/>
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens/>
            <sp:RequireClientEntropy/>
            <sp:RequireServerEntropy/>
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://schemas.gov.sk/edesk/eksService/1" location="EKSService.wsdl"/>
  <wsdl:types/>
  <wsdl:binding name="CustomBinding_IEKSService" type="i0:IEKSService">
    <wsp:PolicyReference URI="#CustomBinding_IEKSService_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetMessage">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetMessage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessageByMessageId">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetMessageByMessageId" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewMessage">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetNewMessage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetNewMessageCount">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetNewMessageCount" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetMessages" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessagesByFilter">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetMessagesByFilter" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMessagePart">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetMessagePart" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/DeleteMessage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="MoveMessage">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/MoveMessage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/GetFolders" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <soap12:operation soapAction="http://schemas.gov.sk/edesk/eksService/1/IEKSService/CreateFolder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EDeskFaultFault">
        <soap12:fault name="EDeskFaultFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
