lib/upvs/cfg/iam/GetIdentityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://schemas.gov.sk/identity/service/1.7" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="IdentityServicesExt" targetNamespace="http://schemas.gov.sk/identity/service/1.7">
<wsp:UsingPolicy wssutil:Required="true"/>
  <wsp:Policy wssutil:Id="Wssp1.2-2007-Saml2.0-Bearer-Https.xml">
    <!-- See https://platforma.slovensko.digital/t/upvs-eforms-received-timestamp-does-not-match-the-requirements-includetimestamp/3423 -->
    <!--<ns1:TransportBinding xmlns:ns1="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
      <!--<wsp:Policy>-->
        <!--<ns1:TransportToken>-->
          <!--<wsp:Policy>-->
            <!--<ns1:HttpsToken>-->
              <!--<wsp:Policy/>-->
            <!--</ns1:HttpsToken>-->
          <!--</wsp:Policy>-->
        <!--</ns1:TransportToken>-->
        <!--<ns1:AlgorithmSuite>-->
          <!--<wsp:Policy>-->
            <!--<ns1:Basic256/>-->
          <!--</wsp:Policy>-->
        <!--</ns1:AlgorithmSuite>-->
        <!--<ns1:Layout>-->
          <!--<wsp:Policy>-->
            <!--<ns1:Lax/>-->
          <!--</wsp:Policy>-->
        <!--</ns1:Layout>-->
        <!--<ns1:IncludeTimestamp/>-->
      <!--</wsp:Policy>-->
    <!--</ns1:TransportBinding>-->
    <!--<ns2:SupportingTokens xmlns:ns2="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
      <!--<wsp:Policy>-->
        <!--<ns2:SamlToken ns2:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">-->
          <!--<wsp:Policy>-->
            <!--<ns2:WssSamlV20Token11/>-->
          <!--</wsp:Policy>-->
        <!--</ns2:SamlToken>-->
      <!--</wsp:Policy>-->
    <!--</ns2:SupportingTokens>-->
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy/>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                <Address xmlns="http://www.w3.org/2005/08/addressing">https://a1-dnv.upvsp-vyvoj.local:8081/sts/wss11x509</Address>
              </Issuer>
              <sp:RequestSecurityTokenTemplate>
                <trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0
                </trust:TokenType>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer
                </trust:KeyType>
                <trust:SecondaryParameters xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <trust:TokenType>
                    http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV2.0
                  </trust:TokenType>
                  <trust:KeyType>http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer
                  </trust:KeyType>
                </trust:SecondaryParameters>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference/>
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy/>
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens/>
            <sp:RequireClientEntropy/>
            <sp:RequireServerEntropy/>
          </wsp:Policy>
        </sp:Trust13>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://schemas.gov.sk/identity/service/1.7" schemaLocation="GetIdentityService_1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://schemas.gov.sk/identity/identityData/1.7" schemaLocation="GetIdentityService_2.xsd"/>
    </xsd:schema>
  </types>
  <message name="GetIdentity">
    <part element="tns:GetIdentityRequest" name="parameters"/>
  </message>
  <message name="GetIdentityResponse">
    <part element="tns:GetIdentityResponse" name="parameters"/>
  </message>
  <message name="GetIdentityFault">
    <part element="tns:GetIdentityFault" name="fault"/>
  </message>
  <message name="GetRolesForIdentity">
    <part element="tns:GetRolesForIdentityRequest" name="parameters"/>
  </message>
  <message name="GetRolesForIdentityResponse">
    <part element="tns:GetRolesForIdentityResponse" name="parameters"/>
  </message>
  <message name="GetRolesForIdentityFault">
    <part element="tns:GetRolesForIdentityFault" name="fault"/>
  </message>
  <message name="IsIdentityInRole">
    <part element="tns:IsIdentityInRoleRequest" name="parameters"/>
  </message>
  <message name="IsIdentityInRoleResponse">
    <part element="tns:IsIdentityInRoleResponse" name="parameters"/>
  </message>
  <message name="IsIdentityInRoleFault">
    <part element="tns:IsIdentityInRoleFault" name="fault"/>
  </message>
  <message name="GetEdeskHistory">
    <part element="tns:GetEdeskHistoryRequest" name="parameters"/>
  </message>
  <message name="GetEdeskHistoryResponse">
    <part element="tns:GetEdeskHistoryResponse" name="parameters"/>
  </message>
  <message name="GetEdeskHistoryFault">
    <part element="tns:GetEdeskHistoryFault" name="fault"/>
  </message>
  <message name="GetEdeskInfo">
    <part element="tns:GetEdeskInfoRequest" name="parameters"/>
  </message>
  <message name="GetEdeskInfoResponse">
    <part element="tns:GetEdeskInfoResponse" name="parameters"/>
  </message>
  <message name="GetEdeskInfoFault">
    <part element="tns:GetEdeskInfoFault" name="fault"/>
  </message>
  <message name="GetEdeskInfo2">
    <part element="tns:GetEdeskInfo2Request" name="parameters"/>
  </message>
  <message name="GetEdeskInfo2Response">
    <part element="tns:GetEdeskInfo2Response" name="parameters"/>
  </message>
  <message name="GetEdeskInfo2Fault">
    <part element="tns:GetEdeskInfo2Fault" name="fault"/>
  </message>
  <message name="GetDelegations">
    <part element="tns:GetDelegationsRequest" name="parameters"/>
  </message>
  <message name="GetDelegationsResponse">
    <part element="tns:GetDelegationsResponse" name="parameters"/>
  </message>
  <message name="GetDelegationsFault">
    <part element="tns:GetDelegationsFault" name="fault"/>
  </message>
  <message name="GetCurrentDelegation">
    <part element="tns:GetCurrentDelegationRequest" name="parameters"/>
  </message>
  <message name="GetCurrentDelegationResponse">
    <part element="tns:GetCurrentDelegationResponse" name="parameters"/>
  </message>
  <message name="GetCurrentDelegationFault">
    <part element="tns:GetCurrentDelegationFault" name="fault"/>
  </message>
  <message name="GetDelegationDetail">
    <part element="tns:GetDelegationDetailRequest" name="parameters"/>
  </message>
  <message name="GetDelegationDetailResponse">
    <part element="tns:GetDelegationDetailResponse" name="parameters"/>
  </message>
  <message name="GetDelegationDetailFault">
    <part element="tns:GetDelegationDetailFault" name="fault"/>
  </message>
  <portType name="IdentityServices">
    <operation name="GetIdentity">
      <input message="tns:GetIdentity"/>
      <output message="tns:GetIdentityResponse"/>
      <fault message="tns:GetIdentityFault" name="GetIdentityFault"/>
    </operation>
    <operation name="GetRolesForIdentity">
      <input message="tns:GetRolesForIdentity"/>
      <output message="tns:GetRolesForIdentityResponse"/>
      <fault message="tns:GetRolesForIdentityFault" name="GetRolesForIdentityFault"/>
    </operation>
    <operation name="IsIdentityInRole">
      <input message="tns:IsIdentityInRole"/>
      <output message="tns:IsIdentityInRoleResponse"/>
      <fault message="tns:IsIdentityInRoleFault" name="IsIdentityInRoleFault"/>
    </operation>
    <operation name="GetEdeskHistory">
      <input message="tns:GetEdeskHistory"/>
      <output message="tns:GetEdeskHistoryResponse"/>
      <fault message="tns:GetEdeskHistoryFault" name="GetEdeskHistoryFault"/>
    </operation>
    <operation name="GetEdeskInfo">
      <input message="tns:GetEdeskInfo"/>
      <output message="tns:GetEdeskInfoResponse"/>
      <fault message="tns:GetEdeskInfoFault" name="GetEdeskInfoFault"/>
    </operation>
    <operation name="GetEdeskInfo2">
      <input message="tns:GetEdeskInfo2"/>
      <output message="tns:GetEdeskInfo2Response"/>
      <fault message="tns:GetEdeskInfo2Fault" name="GetEdeskInfo2Fault"/>
    </operation>
    <operation name="GetDelegations">
      <input message="tns:GetDelegations"/>
      <output message="tns:GetDelegationsResponse"/>
      <fault message="tns:GetDelegationsFault" name="GetDelegationsFault"/>
    </operation>
    <operation name="GetCurrentDelegation">
      <input message="tns:GetCurrentDelegation"/>
      <output message="tns:GetCurrentDelegationResponse"/>
      <fault message="tns:GetCurrentDelegationFault" name="GetCurrentDelegationFault"/>
    </operation>
    <operation name="GetDelegationDetail">
      <input message="tns:GetDelegationDetail"/>
      <output message="tns:GetDelegationDetailResponse"/>
      <fault message="tns:GetDelegationDetailFault" name="GetDelegationDetailFault"/>
    </operation>
  </portType>
  <binding name="iamwsportBinding" type="tns:IdentityServices">
    <wsp:PolicyReference URI="#Wssp1.2-2007-Saml2.0-Bearer-Https.xml"/>
    <soap12:binding style="document" transport="http://www.w3.org/2003/05/soap/bindings/HTTP/"/>
    <operation name="GetIdentity">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetIdentityFault">
        <soap12:fault name="GetIdentityFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetRolesForIdentity">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetRolesForIdentityFault">
        <soap12:fault name="GetRolesForIdentityFault" use="literal"/>
      </fault>
    </operation>
    <operation name="IsIdentityInRole">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="IsIdentityInRoleFault">
        <soap12:fault name="IsIdentityInRoleFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetEdeskHistory">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetEdeskHistoryFault">
        <soap12:fault name="GetEdeskHistoryFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetEdeskInfo">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetEdeskInfoFault">
        <soap12:fault name="GetEdeskInfoFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetEdeskInfo2">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetEdeskInfo2Fault">
        <soap12:fault name="GetEdeskInfo2Fault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDelegations">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetDelegationsFault">
        <soap12:fault name="GetDelegationsFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetCurrentDelegation">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetCurrentDelegationFault">
        <soap12:fault name="GetCurrentDelegationFault" use="literal"/>
      </fault>
    </operation>
    <operation name="GetDelegationDetail">
      <soap12:operation soapAction="" soapActionRequired="false"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GetDelegationDetailFault">
        <soap12:fault name="GetDelegationDetailFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IdentityServicesExt">
    <port binding="tns:iamwsportBinding" name="iamwsport">
      <soap12:address location="https://authws.vyvoj.upvs.globaltel.sk:443/iamws17/GetIdentityService"/>
    </port>
  </service>
</definitions>
